problem = 'dcavity'

in_file  = None    # infile: file to read initial values from
out_file = None    # outfile: file to write final values

xlength = 1.0    # xlength: domain size in x-direction
ylength = 1.0    # ylength: domain size in y-direction
imax = 50        # imax: number of interior cells in x-direction
jmax = 50         # jmax: number of interior cells in y-direction

final_t    = 5.0   # t_end: final time
delta_t    = 0.02  # delt: time stepsize
safety_tau = 0.5   # tau:  safety factor for time stepsize control

del_trace  = 10000.0  # del_trace: time stepsize for writing particle positions for particle tracing
del_inj    = 10000.0  # del_inj:   time stepsize for injecting particles
del_streak = 10000.0  # del_streak:time stepsize for writing particle positions of streaklines
del_vec = 0.1         # del_vec:   time stepsize for writing velocity and pressure values

# backstep.out	  file to write velocity and pressure values
# none 		      file to write particle positions for particle tracing
# none        	  file to write particle positions of streaklines

N = 0        # N: number of particlelines
pos1x = 0.0  # pos1x: coordinates of the final points
pos1y = 0.0  # pos1y: of the line on which
pos2x = 0.0  # pos2x: particles for particle tracing
pos2y = 0.0  # pos2y: and streaklines are injected

iteration_max = 100   # itermax: maximal number of pressure iterations in one time step
eps = 0.001     # eps : stopping tolerance for pressure iteration
omg = 1.7       # omg : relaxation parameter for SOR iteration
gamma = 0.9     # gamma: upwind differencing factor   
p_bound = 2     # p_bound: flag for the treatment of the pressure boundary conditions
                #         1 = modify the equation at the boundary (book p. 37)
                #         2 = copy the pressure values near the boundary (book p. 39)

Ray_no = 100  # Re: Reynolds number
Pr =  1.0   # Pr: Prandtl number
beta= 0.0   # beta: coefficient of volume expansion
GX =  0.0   # GX:
GY =  0.0   # GY: volume forces, e.g. gravity
init_x_vel_scalar = 1.0   # UI:
init_y_vel_scalar = 0.0   # VI: initial values
TI = 0.0                  # TI:

wW = 2  # wW:   flags for boundary conditions
wO = 2  # wO:   1 = slip       3 = inflow/outflow
wN = 2  # wN:   2 = no-slip    4 = periodic
wS = 2  # wS:  
 
